@page
@model IndexModel
@{
    ViewData["Title"] = "DevOps is Kool";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Docker and Kubernetes</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>Build Status:<br/>
    <img src="https://dev.azure.com/MichaelToit01/CS7504Assignment2/_apis/build/status/CS7504Assignment2-CI">
    </div>
</div>
